<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main  bg-zinc-900 w-full h-screen text-white">
        <div class="nav text-white">
            <h1 class="text-4xl p-5">Login</h1>
        </div>
        <form class="" action="/login" method="post">
           
            
            <input name="email" type="email" class="bg-transparent px-5 py-2 outline-none border-2 rounded-lg m-1" placeholder="Email">
            <input name="password" type="password" class="bg-transparent px-5 py-2 outline-none border-2 rounded-lg m-1" placeholder="Password">
            <input  type="submit" class=" bg-yellow-500 px-6 py-2 rounded-lg text-black text-lg " placeholder="Login">
        </form>
    </div>
</body>
</html>